a {
    text-decoration: none;
}

a:hover {
    text-decoration: dotted;
}

a:visited {
    text-decoration: none;
}
input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}
select:invalid {
    border: 1px solid red;
}
select:valid {
    border: 1px solid green;
}
